---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props
---

<header>
    <h1 class="text-base text-l/primary dark:text-d/primary">{title}</h1>
    <p class="text-sm text-l/tertiary dark:text-d/tertiary">{description}</p>
  
</header>